body {
  flex-flow: column;
  padding: 0;
}

.logo {
  width: 25px;
  border: none;
  margin-right: 0;
  display: inline;
}

#section {
  display: block;
}
img {
  display: inline;
  width: 400px;
  margin-right: 0;
}

#pround {
  font-weight: 700;
}
#modal.hover {
  backface-visibility: visible;
  background: fff;
  border: 2px solid #e6e7e9;
  top: 50%;
  left: 50%;
  padding: 1.25rem;
  position: absolute;
  box-sizing: inherit;
  display: block;
}
/*========================================
                   how
========================================*/

label {
  height: fit-content;
  margin: 10%;
}

#howTo div {
  /* border: 1px solid black; */
}
#howTo div img {
  border: none;
}
tr th img {
  width: 230px;
  height: 350px;
  img
}
tr td{
  padding: 0 auto;
}
/*========================================
                contact
========================================*/
/*========================================
                contact
========================================*/
/*========================================
                contact
========================================*/
