
.logo{
  width: 25px;
  border: none;
  margin-right: 0;
  display: inline;
}

#section{
  display: block;
}
img{
  display: inline;
  width: 400px;
  margin-right: 0;
}
body{
  flex-flow: column;
}

#pround{
  font-weight: 700;
}



/* **************************** Map **************************** */
.council:hover {
  fill: #ec008c;
}
